#Plantas thead {
  background-color: #333A40;
  color: white;
  font-size: 15px;
}

#Plantas tbody{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3
  );
}

#Plantas td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

footer{
  bottom: 0;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3
  );
}

h1 { font-family: Kaisei Decol; font-size: }

hr {
  border:none;
  height: 20px;
 	width: 100%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

#Banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 305px;
  width: 100%;
}

