<div class="container-fluid">
  <div class="col-6 offset-1">
    <table class="table" id = "Plantas">
      <thead>
        <tr>
          <th class="h4">#</th>
          <th class="h4">Nombre Comun</th>
          <th class="h4">Tipo</th>
          <th class="h4">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of plantas">
          <td>
            <dd><b>{{c.id}}</b></dd>
          </td>
          <td>
            <dd>{{c.nombre_comun}}</dd>
          </td>
          <td>
            <dd>{{c.tipo}}</dd>
          </td>
          <td>
            <dd>{{c.clima}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
    <p>Total Plantas de Interior: {{ interior }}</p>
    <p>Total Plantas de Interior: {{ exterior }}</p>
  </div>
  <footer align="center">
    <div class="footer">
      <p><b>Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio</b></p>
    </div>
  </footer>
</div>
